@use '../../scss/abstracts/' as *;

.order-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 20px;
}

.form-section {
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #9cec25;
  align-items: center;

  span {
    color: #3c3c3c;
    font-size: 12px;
  }
}

.form-section h3 {
  padding: 12px;
  background-color: #9cec25;
  color: #3c3c3c;
}

.form-section h2 {
  padding: 12px;
  color: white;
  font-size: 24px;
}

.form-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.form-field input,
.form-field textarea {
  padding: 0.5rem;
  // border: 1px solid #69af00;
}
.form-field input {
  color: #000000;

  outline-color: #69af00;
  ::placeholder {
    color: #000000;
  }
  :focus {
    border-radius: 0;
  }
}

.form-field span {
  color: red;
  font-size: 0.75rem;
}
.form-field textarea {
  color: #000000;
  outline: #69af00;
}

.form-radio-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.button-container {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-end;
  p {
    font-size: 11px;
    font-weight: 400;
    line-height: 15.4px;
    color: #bebebe;
    text-decoration: underline;
  }
}
.submit-button {
  padding: 1rem;
  border: none;
  background-color: #9cec25;
  color: #000000;
  cursor: pointer;
  width: 413px;
  @include breakpoint(mobile) {
    width: 100%;
  }
}

.cart-modal-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart-hero {
  padding: 1rem;
  color: #3c3c3c;
  @include breakpoint(tablet) {
    font-size: 16px;
    font-weight: 400;
    padding: 0;
  }
}

.checkout-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.checkout-info {
  display: flex;
  justify-content: space-between;
}

.form-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin-top: 24px;
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.form-grid-item {
  display: flex;
  flex-direction: column;
}

.fortm-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin-top: 24px;
  @include breakpoint(mobile) {
    display: flex;
    flex-direction: column;
  }
}

.form-grid input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.fortm-grid input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.radio-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
}

.radio-icon svg {
  width: 100%;
  height: 100%;
}
.payment-method-text {
  flex: 1;
}
.btn {
  padding: 8px 0px;
  align-items: center;
  justify-content: center;
  background-color: $accent-secondary;
  color: black;
  font: $regular14;
  border: 1px solid $accent-secondary;
  width: 62px;
  height: 24px;
  &:hover {
    border: 1px solid $accent-primary-strong;
  }

  &:active {
    background-color: $accent-primary-strong;
  }
}
.btn-block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-right: 12px;
}
.cart-modal-content {
  @include breakpoint(tablet) {
    background-color: transparent;
  }
  padding: 24px;
  .cart-item {
    display: flex;
    flex-direction: row;
    gap: 24px;
    @include breakpoint(tablet) {
      gap: 8px;
    }
    .product-info {
      gap: 24px;
      display: flex;
      flex-direction: column;
      @include breakpoint(mobile) {
        width: 60%;
      }
      .info-wrapper {
        justify-content: inherit;
        gap: 38px;
        @include breakpoint(tablet) {
          gap: 8px;
        }
        .items-info {
          gap: 4px;
          .quantity-controls button {
            padding: 4px 12px;
            margin: 0;
          }
        }
        .icon-container {
          gap: 32px;
          @include breakpoint(mobile) {
            gap: 0;
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}
.np-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  .np-select {
    width: 100%;
  }
  .np-select__input {
    color: #000000;
  }
  .np-select__box {
    z-index: 100;
  }
}
.np-select__button {
  width: 100%;
  z-index: 21;
  overflow: hidden;
}

.np-warehouse {
  z-index: 1;
}
.cod-info {
  font-size: 10px;
  font-weight: 400;
  line-height: 14px;
}
