@use '/src/scss/abstracts/' as *;
.submit_button {
  padding: 1rem;
  border: none;
  background-color: #9cec25;
  color: #000000;
  cursor: pointer;
  width: 413px;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  align-items: center;
  h1 {
    font: $bold24;
  }
  h3 {
    font: $regular16;
  }
}
