@use '/src/scss/abstracts/' as *;
.wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.heading {
  @include breakpoint(tablet) {
    display: none;
  }
}
.counter {
  @include breakpoint(tablet) {
    font: $regular14;
    color: #acacac;
    padding-left: 40px;
  }
}
