@use '/src/scss/abstracts/' as *;

.switcher_item {
  width: 100%;
  border-top: 1px solid $accent-primary;
  border-bottom: 1px solid $accent-primary;
  border-left: 1px solid $accent-primary;
  border-right: 1px solid $accent-primary;
  &:not(:last-child) {
    margin-bottom: 32px;
  }
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    color: $accent-primary;
  }
  @include breakpoint(desktop) {
    &:not(:last-child) {
      margin-bottom: 42px;
    }
    border-right: 0px solid $accent-primary;
  }
}
.switcher_item_opened_mobile {
  width: 100%;
  border-top: 1px solid $accent-primary;
  border-bottom: 1px solid $accent-primary;
  border-left: 1px solid $accent-primary;
  border-right: 1px solid $accent-primary;
  &:not(:last-child) {
    margin-bottom: 10px;
  }
  padding: 12px 24px;
  cursor: pointer;

  &:hover {
    color: $accent-primary;
  }
  @include breakpoint(desktop) {
    &:not(:last-child) {
      margin-bottom: 42px;
    }
    border-right: 0px solid $accent-primary;
  }
}

.switcher_item__active {
  background-color: $accent-primary-dark;
}
