@use '/src/scss/abstracts/' as *;

.switcher_item {
  width: 100%;
  border: 1px solid $accent-primary;
  border-right: 0px;
  padding: 12px 24px;
  &:hover {
    color: $accent-primary;
  }
}

.switcher_item__active {
  background-color: $accent-primary-dark;
}

.edit_btn {
  cursor: pointer;
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 46px;
  border: 1px solid $accent-primary;
  & svg > path {
    fill: $white;
  }
  &:hover {
    & svg > path {
      fill: $accent-primary;
    }
  }
  &:active {
    background-color: $accent-primary-dark;
  }
  &:disabled {
    border: 1px solid #dddddd;
    & svg > path {
      fill: $gray;
    }
  }
}
