@use '/src/scss/abstracts/' as *;

.categories_list {
  display: grid;
  gap: 23px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  max-width: 972px;
  padding-left: 24px;
  justify-items: center;
  @media (min-width: 1170px) and (max-width: 1400px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  @media (min-width: 1024px) and (max-width: 1170px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @include breakpoint(tablet) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: max-content;
    column-gap: 7px;
    row-gap: 16px;
  }
  @include breakpoint(mobile) {
    grid-template-columns: repeat(2, minmax(0, 168px));
    grid-template-rows: max-content;
    column-gap: 7px;
    row-gap: 16px;
    padding-left: 0px;
    justify-content: center;
  }
}
