@use '/src/scss/abstracts/' as *;

.category_title {
  font: $regular14;
}

.truncated_text {
  height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
