@use '../../scss/abstracts/' as *;

.error {
  position: relative;
  background-image: url(/StripedLine.png), url(/404.png), url(/Error-bg.png),
    url(/StripedLine.png);
  background-position: top, center 262px, center 55px, bottom;
  background-size: contain, 25vw, contain, contain;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  width: 100%;
  height: 100%;
  @include breakpoint(tablet) {
    background-position-y: top, 150px, 30px, bottom;
  }
  @include breakpoint(mobile) {
    background-position-y: top, 83px, 26px, bottom;
  }
  max-width: 1440px;
  margin: 0 auto;
}

.error_code {
  position: absolute;
  top: 262px;
  left: 50%;
  transform: translate(-50%);
  font-size: 7vw;
  color: #dd0000;
  width: 25vw;
  @include breakpoint(mobile) {
    top: 83px;
  }
}

.text_button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 42px;
  padding: 514px 16px 112px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  @include breakpoint(tablet) {
    gap: 24px;
    padding: 50vw 16px 100px;
  }
  @include breakpoint(mobile) {
    padding: 50vw 16px 50px;
  }
}

.error_text {
  width: 330px;
}
