@use '../../scss/abstracts/' as *;

.container {
  padding: 0 64px;
  margin: 0 auto;
  max-width: 1440px;
  @include breakpoint(desktop) {
    & aside:hover,
    aside:focus-within {
      & ~ .content_container {
        z-index: -1;
      }
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    padding: 0px 32px;
  }

  @include breakpoint(tablet) {
    padding: 0px;
    max-width: 1023px;
  }
}

.content_container {
  width: calc(100% - 340px);
  flex-shrink: 1;
  @include breakpoint(tablet) {
    width: 100%;
  }
}
