@use '../../scss/abstracts/' as *;
.container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  justify-content: flex-end;
  :last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  :first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  @include breakpoint(mobile) {
    flex-wrap: wrap;
    gap: 0px;
  }
}
.wrapper_mobile {
  width: 100%;
  @include breakpoint(mobile) {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  @include breakpoint(nonmobile) {
    display: none;
    h2 {
      display: none;
    }
  }
}
.item {
  display: flex;
  width: 222px;
  height: 262px;
  background-color: white;
  color: black;
  align-items: center;
  justify-content: center;
  position: relative;
  @include breakpoint(tablet) {
    width: 168px;
    height: 138px;
  }
  @include breakpoint(mobile) {
    svg {
      width: 40px;
      height: 40px;
    }
    p {
      font-size: 12px;
      font-weight: 400;
      text-align: center;
      line-height: 16.8px;
      bottom: 5%;
    }
  }
}

.blurry_ellipse_yellow {
  position: relative;
  top: 10px;
  width: 38px;
  height: 52px;
  background-color: #ffe500;
  border-radius: 40%;
  filter: blur(10px);
  transform: rotate(-28deg);
  @include breakpoint(mobile) {
    height: 30px;
  }
}
.blurry_ellipse_green {
  position: relative;
  bottom: 10px;
  width: 38px;
  height: 52px;
  background-color: #00ff00;
  border-radius: 40%;
  filter: blur(10px);
  transform: rotate(46deg);
  @include breakpoint(mobile) {
    height: 20px;
  }
}
.advantages {
  display: flex;
  width: 376px;
  height: 481px;
  font-size: 36px;
  line-height: 50px;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-items: center;
  background-color: #9cec25;
  color: black;
  position: absolute;
  padding: 40px;
  margin: 40px 40px 40px 0px;
  gap: 40px;
  @include breakpoint(tablet) {
    display: none;
  }
}
.cards_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-self: flex-end;
  @include breakpoint(mobile) {
    padding-top: 60px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 16px 7px;
    grid-template-areas:
      '. .'
      '. .'
      '. .';
    justify-content: center;
    align-content: center;
    justify-items: end;
    align-items: center;
    min-width: 100%;
    height: 446px;
    :nth-child(odd) {
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
    }
    :nth-child(even) {
      border-top-right-radius: 16px;
      border-bottom-right-radius: 16px;
    }
  }
}
.text {
  display: flex;
  width: 198px;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  font-size: 14px;
  font-weight: 400;
  line-height: 19.6px;
  align-items: center;
  justify-content: center;
  color: #3c3c3c;
}
.wrapper_desktop {
  // padding-right: 64px;
  gap: 16px;
  @include breakpoint(nonmobile) {
    h2 {
      display: none;
    }
  }
  @include breakpoint(mobile) {
    display: none;
  }
}
.section_desktop_wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
