@use '/src/scss/abstracts/' as *;

.button {
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: $accent-primary;
  border: 1px solid $accent-primary;
  color: black;

  &:hover {
    border: 1px solid $accent-secondary;
  }

  &:active {
    background-color: $accent-primary-strong;
  }
}
