@use '../../scss/abstracts/' as *;

.delivery_top {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  align-items: flex-start;
  padding: 0px 0px 30px 24px;
  @include breakpoint(tablet) {
    padding-top: 24px;
    gap: 40px;
    padding-bottom: 24px;
    margin-bottom: 24px;
  }
  @include breakpoint(mobile) {
    flex-direction: column;
  }
}

.delivery_top_item {
  display: flex;
  max-width: 243px;
  width: 16.9vw;
  flex-shrink: 1;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  margin-top: 21.5px;
  margin-bottom: 21.5px;
  @include breakpoint(tablet) {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
  }
}

.delivery_top_item_head {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 32px;
  @media screen and (min-width: 1025px) and (max-width: 1250px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.payment_options_list {
  & li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.delivery_options_list {
  & li:not(:last-child) {
    margin-bottom: 16px;
  }
}

.delivery_top_icon_wrapper {
  width: auto;
  height: 59px;
  @include breakpoint(tablet) {
    height: 45px;
  }
}

.delivery_top_image_wrapper {
  flex-basis: 332px;
  width: 23vw;
  max-width: 332px;
  min-width: 100px;
  flex-shrink: 1;
  height: auto;
  & img {
    width: 100%;
    height: 100%;
  }
  @include breakpoint(tablet) {
    display: none;
  }
}

.delivery_stages {
  padding: 30px 0px 30px 24px;

  @include breakpoint(tablet) {
    padding-bottom: 24px;
    margin-bottom: 10px;
  }
}

.delivery_stages_list {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin-left: auto;
  margin-right: auto;
  @include breakpoint(tablet) {
    flex-direction: column;
    width: 303px;
    gap: 24px;
    padding-bottom: 24px;
    margin-bottom: 10px;
  }
}

.delivery_stages_item {
  display: flex;
  gap: 12px;
  width: 140px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include breakpoint(tablet) {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.delivery_text_section {
  padding: 40px 0px 40px 24px;
  @include breakpoint(tablet) {
    padding: 10px 16px 10px 16px;
  }
}

.delivery_text_title {
  font: $bold24;
  text-align: center;
  margin-bottom: 12px;
}

.delivery_bottom {
  padding: 30px 0px 30px 24px;

  @include breakpoint(tablet) {
    display: none;
  }
}

.delivery_bottom_img {
  padding: 43px 8px 13px 48px;
  background-image: url(/Delivery-bottom-img.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vw;
  @media screen and (min-width: 1024px) and (max-width: 1439px) {
    padding: 0px 32px;
    padding: 73px 40px 43px 72px;
  }
}
