@use '/src/scss/abstracts/' as *;

.popup_body {
  position: relative;
  top: 10%;
  width: auto;
  height: fit-content;
  width: 93%;
  max-width: 1336px;
  background-color: $accent-primary-dark;
  padding: 60px;
  // overflow-y: scroll;
}

.icon_wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 32px;
  right: 32px;
  width: 40px;
  height: 40px;
}

.icon:hover {
  & rect {
    fill: $accent-secondary;
  }
}
