@use '../../scss/abstracts/' as *;
.container {
  width: 100%;
  @include breakpoint(tablet) {
    width: fit-content;
  }
  display: flex;
  color: #acacac;
  font: $regular14;
  margin-top: 12px;
  margin-right: 50px;
}

.outer_container {
  width: 100%;
  @include breakpoint(tablet) {
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    overflow-x: scroll;
    overflow-y: hidden;
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0;
      display: none !important;
      background: transparent;
    }
  }
}

.item {
  padding: 0 12px;
  width: fit-content;
  text-wrap: nowrap;
  white-space: nowrap;
  &:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
