$white: #ffffff;
$black: #000000;
$gray: #acacac;
$gray-dark: #3c3c3c;
$accent-primary: #9cec25;
$accent-primary-strong: #69af00;
$accent-primary-dark: #2a4700;
$accent-secondary: #ffe500;
$background: #1e1e1e;
$popupBackdrop: #111616d9;
$red-canceled: #ff896f;
