$font: 'Verdana';
$bold48: normal 700 48px $font;
$bold36: normal 700 36px/1.4 $font;
$bold24: normal 700 24px/1.4 $font;
$bold18: normal 700 18px/1.4 $font;
$bold16: normal 700 16px/1.4 $font;
$semibold24: normal 600 24px/1.4 $font;
$semibold18: normal 600 18px/1.4 $font;
$semibold16: normal 600 16px/1.4 $font;
$regular24: normal 400 24px /1.4 $font;
$regular20: normal 400 20px /1.4 $font;
$regular18: normal 400 18px /1.4 $font;
$regular16: normal 400 16px /1.4 $font;
$regular14: normal 400 14px /1.4 $font;
