// CartModal.scss
@use '../../scss/abstracts/' as *;
// .cart-modal {
//   display: none;
//   position: fixed;
//   color: black;
//   z-index: 1200;
//   left: 0;
//   top: 0;
//   width: 1239px;
//   height: 100%;
//   overflow: auto;
//   background-color: rgb(0, 0, 0);
//   background-color: rgba(0, 0, 0, 0.4);

//   &.open {
//     display: block;
//     width: 100%;
//   }

.cart-modal-content {
  background-color: #2a4700;
  @include breakpoint(tablet) {
    margin: 0;
    // padding: 16px;
    width: 100%;
  }
  @include breakpoint(mobile) {
    height: auto;
  }

  .cart-hero {
    // padding-top: 8px;
    text-align: left;
    color: #ffffff;
    font: $bold24;
  }

  .close {
    color: #ffffff;
    float: right;
    font-size: 28px;
    font-weight: bold;

    &:hover,
    &:focus {
      color: #000;
      text-decoration: none;
      cursor: pointer;
    }
  }

  .cart-item {
    display: flex;
    flex-direction: row;
    gap: 53px;
    // height: 146px;
    width: 100%;
    height: 100%;
    align-items: center;
    border-bottom: 1px solid white;
    justify-content: space-between;
    padding-bottom: 24px;
    padding-top: 24px;

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      padding-bottom: 24px;
      margin-top: 24px;
      height: auto;
    }
    .desktop_wrapper {
      @include breakpoint(tablet) {
        display: none;
      }
    }
    .product-info {
      display: flex;
      flex-direction: row;
      gap: 53px;
      align-items: center;
      width: 50%;

      @include breakpoint(tablet) {
        width: 100%;
        display: flex;
        flex-direction: row;
        gap: 12px;
      }
      .product-image {
        min-width: 80px;
        width: 80px;
        height: auto;
        @include breakpoint(tablet) {
          min-width: 110px;
          width: 110px;
          height: auto;
        }
      }
      .image {
        width: 100%;
        object-fit: cover;
      }
      a {
        display: inherit;
      }

      .product-name {
        width: 100%;
        flex-grow: 1;
        min-height: 44px;
        @include breakpoint(tablet) {
          width: auto;
        }
        span.product-name {
          width: 100%;
        }
      }
    }
    .product-description {
      min-width: 67px;
      display: flex;
      flex-direction: column;

      @include breakpoint(tablet) {
        display: flex;
        flex-direction: row;
        min-width: 188px;
        align-items: center;
        align-content: space-between;
        justify-content: space-between;
        span {
          text-align: right;
          width: fit-content;
        }
      }
      @include breakpoint(mobile) {
        min-width: 0px;
      }
    }
    .mobile_wrapper {
      @include breakpoint(desktop) {
        display: none;
      }
    }
    img {
      height: 98px;
    }
    p {
      color: #adadad;
      display: flex;
      justify-content: right;
      font: $regular14;
      @include breakpoint(mobile) {
        font: $regular12;
      }
    }
    span {
      font: $regular16;
      color: white;
      width: 100%;
    }
    .items-info {
      height: auto;
      gap: 53px;
      @include breakpoint(desktop) {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        gap: 24px;
      }
      @include breakpoint(tablet) {
        width: 60%;
        display: flex;
        flex-direction: column;
        gap: 12px;
        span {
          font: $regular20;
        }
      }
    }
    .quantity-controls {
      display: flex;
      align-items: center;
      border: 1px solid white;
      border-radius: 6px;

      button {
        color: white;
        border: none;
        padding: 5px 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 0 5px;
        cursor: pointer;
        border-radius: 5px;

        &:hover {
          background-color: #adadad43;
        }
      }
    }
    .info-wrapper {
      display: flex;
      flex-direction: row;
      gap: 53px;
      align-items: center;
      justify-content: flex-end;
      width: 50%;

      @include breakpoint(tablet) {
        width: 100%;
        gap: 24px;
      }
      @include breakpoint(mobile) {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        width: 100%;
        gap: 12px;
      }
    }
    .icon-container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 32px;
      @media screen and (min-width: 1024px) and (max-width: 1120px) {
        gap: 10px;
      }
      @include breakpoint(mobile) {
        width: 110px;
        gap: 22px;
      }
    }
    .remove-button {
      background-color: #f44336;
      color: white;
      border: none;
      padding: 5px 10px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin-left: 10px;
      cursor: pointer;
      border-radius: 5px;

      &:hover {
        background-color: #d32f2f;
      }
    }
  }
}
.checkout-container {
  padding-top: 32px;
  font: $bold24;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 32px;
  :nth-child(3n) {
    border-top: 1px solid;
  }
  @include breakpoint(mobile) {
    padding-top: 24px;
  }
  .checkout-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 280px;
    font: $regular20;

    @include breakpoint(mobile) {
      width: 100%;
    }
    span {
      font: $bold24;
    }
  }
  @include breakpoint(mobile) {
    display: flex;
    gap: 8px;
  }
  .discount {
    color: red;
  }
}
.checkout-btn {
  background-color: #ffe500;
  color: #000;
  font: $regular18;
  padding: 4px 32px 4px 32px;
  min-height: 47px;
  width: 281px;
}
.empty-cart {
  display: flex;
  flex-direction: row;
  gap: 250px;
  @include breakpoint(tablet) {
    gap: 0;
    flex-direction: column;
    svg {
      width: auto;
      height: 116px;
    }
  }
  .empty-cart-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
    h1 {
      font: $regular24;
      color: white;
    }
  }
}
.btn {
  display: flex;
  justify-content: right;
  @include breakpoint(tablet) {
    justify-content: center;
    padding-top: 40px;
  }
}
// }
