@use '../../scss/abstracts/index' as *;
.header_top {
  background-color: #6eb900;
}
.container_top {
  color: white;
  height: 80px;
  display: flex;
  justify-content: flex-end;
  // padding: 0px 64px;
  @include breakpoint(tablet) {
    display: block;
    padding: 0px 36px;
    // justify-content: center;
  }
  @include breakpoint(mobile) {
    padding: 0px 12px;
  }
}

.content {
  display: flex;
  align-items: center;
  gap: 204px;
  h1 {
    @include breakpoint(tablet) {
      display: none;
    }
  }
}
.container_lang {
  display: flex;
  gap: 12px;
  @include breakpoint(mobile) {
    display: none;
  }
  @include breakpoint(tablet) {
    display: none;
  }
  .button {
    border: none;
    cursor: pointer;
    color: #ffffff;

    &.active {
      color: #ffe500;
    }
  }
}
.line {
  border-left: 1px solid;
}
.container_bot {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
  align-items: center;
  color: white;
  @include breakpoint(mobile) {
    flex-direction: column;
  }
}
.container_icons {
  display: flex;
  gap: 40px;
  align-items: center;
  height: 48px;
  @include breakpoint(tablet) {
    display: none;
  }
}
.container_contact {
  display: flex;
  gap: 50px;
  @include breakpoint(tablet) {
    display: none;
  }
}
.container_search {
  display: flex;
  flex-direction: column;
  gap: 8px;
  @include breakpoint(mobile) {
  }
}

.mobile_header {
  @include breakpoint(tablet) {
    padding-top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @include breakpoint(desktop) {
    display: none;
  }
}
