@use '../../scss/abstracts/' as *;

.text_wrapper {
  //   width: 932px;
  height: auto;
  padding: 24px 0px 0px 40px;
  @include breakpoint(mobile) {
    width: 100%;
    height: 100%;
    padding: 16px;
  }
  .heading1 {
    font-size: 18px;
    line-height: 25.2px;
    font-weight: 700;
    color: #ffffff;
    @include breakpoint(mobile) {
      font-size: 16px;
      line-height: 22.4px;
    }
  }
  .heading2 {
    font-size: 16px;
    font-weight: 400;
    line-height: 24.5px;
    color: #bababa;
    @include breakpoint(mobile) {
      line-height: 22.4px;
    }
  }
  ol {
    list-style: upper;
    padding-left: 20px;
  }
}
