@use '../../scss/abstracts/' as *;

.sidebar {
  min-width: 340px;
  flex-basis: 340px;
  flex-shrink: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  border-right: 1px solid $accent-primary-strong;
  grid-area: sidebar;
  @include breakpoint(tablet) {
    display: none;
  }
}
