@use '../../scss/abstracts/' as *;

.sidebar {
  width: 340px;
  padding-top: 12px;
  margin-left: 64px;
  border-right: 1px solid $accent-primary-strong;
  grid-area: sidebar;
  @include breakpoint(tablet) {
    display: none;
  }
}
