.specification {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.specificationItem {
  display: flex;
  align-items: baseline;
  gap: 12px;
}

.characteristic {
  flex: 1;
}

.underline {
  min-width: 50px;
  flex: 2;
  border-bottom: 1px dashed #ccc;
}

.description {
  flex: 3;
}
